---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import logo from "/images/logo.png"
import imgHero from "/images/hero.webp"
import imgFooter from "/images/herofooter.webp"
import contacto from "/images/contacto.png"
const CREAMOS = [
  {
    title: "Desarrollo Web",
    description: "Es el trabajo que permite que una web tenga una apariencia impecable, un funcionamiento rápido y un buen desempeño para permitir la mejor experiencia de usuario.",
    image: "/images/dev-web.png",
  },
  {
    title: "Aplicaciones Móviles",
    description: "Aplicación diseñada para ser ejecutada en teléfonos inteligentes, tabletas y otros dispositivos móviles. Este tipo de aplicaciones permiten al usuario efectuar un variado conjunto de tareas.",
    image: "/images/dev-movil.png",
  }
]

const SERVICIOS = [
  { nombre: 'Soporte técnico', image: '/images/soporte.png' },
  { nombre: 'Consultoría', image: '/images/consultoria.png' },
  { nombre: 'Diseño de paginas web', image: '/images/des-web.png' },
  { nombre: 'Aplicaciones web', image: '/images/dev-movil.png' },
  { nombre: 'Desarrollo de API ', image: '/images/dev-web.png' },
  { nombre: 'Aplicaciones móvil', image: '/images/dev-movil.png' },
  { nombre: 'Accesoria en hosting y dominios', image: '/images/hosting-dominios.png' },
]
---

<Layout title="Bienvinido a team digital">
  <section class="w-full bg-no-repeat bg-cover h-[640px]" style={`background-image:url(${imgHero});`}>
    <div class="relative top-0 left-0 p-3 mx-28 h-full">
      <div class="w-2/4 h-full flex justify-center flex-col items-start">
        <h1 class="text-left font-bold text-3xl">La mejor experiencia para tus clientes y empresa</h1>
        <p class="">
          Creamos desde cero software personalizado para tu empresa o negocio y puedas alcanzar tus
          objetivos tecnológicos empresariales
        </p>
        <a href="#" class="bg-orange-300 px-5 py-4 rounded-lg text-white font-bold mt-5">Contáctanos</a>
      </div>
    </div>
  </section>
  <main class="mx-28">
    <section class="my-28">
      <h2 class="text-center text-4xl">¿ Que podemos crear por ti ?</h2>
      <p class="text-center mb-10">Creamos aplicaciones web y móvil</p>

      <div class="grid grid-cols-2 grid-flow-col gap-4">
        {
        CREAMOS.map(({title, description, image}) => (
        <div class="flex flex-col items-center bg-[#bcfdf74b] rounded-lg border shadow-md md:flex-row md:max-w-xl">
          <img class="object-cover w-full h-96 p-3 md:h-auto md:w-48" src={image} alt="" />
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{title}</h5>
            <p class="mb-3 font-normal text-gray-700">{description}</p>
          </div>
        </div>
        ))
        }
      </div>
    </section>
    <section class="my-28">
      <h2 class="text-center text-4xl mb-10">Servicios</h2>

      <div class="grid grid-cols-4 gap-4">
        {
        SERVICIOS.map(({nombre, image}) => (
        <div class="max-w-sm bg-white rounded-lg border border-[#FFCB77] shadow-md">
          <div class="flex flex-col items-center pb-10">
            <img class="my-3" src={image} alt="" />
            <h5 class="mb-1 text-lg text-center font-medium text-gray-900">{nombre}</h5>
          </div>
        </div>
        ))
        }
      </div>
    </section>
    <section class="my-28">
      <div
        class="w-full bg-[#17C3B2] h-72 rounded-[50px] px-10 py-44 text-center flex flex-col items-center justify-center">
        <p class="text-4xl mb-4 text-white font-extrabold">Metodo de trabajo</p>
        <p class="text-white mb-6 text-2xl w-2/4">
          Crea junto con nosotros el software que lleve la experiencia de tus clientes y empleados a otro nivel
        </p>
        <a href="#" class="bg-orange-300 px-5 py-4 rounded-lg text-center text-white font-bold">Como trabajamos</a>
      </div>
    </section>
  </main>
  <footer class="bg-no-repeat bg-cover h-[540px]" style={`background-image: url(${imgFooter});`}>
    <div class="relative top-0 left-0 p-3 mx-28 h-full">
      <div class="h-full flex justify-between items-center">
        <div class="">
          <h1 class="text-left font-bold text-3xl">Contáctenos en cualquier momento</h1>
          <p class="mb-3">
            Nos puedes escribir para preguntar por tu solicitud en cualquiera de nuestras redes sociales.
          </p>
          <a href="#"
            class="inline-flex items-center text-white bg-[#FFCB77] hover:bg-orange-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-6 py-3.5 text-center">Contáctanos</a>
        </div>
        <img src={contacto} class="h-2/4" alt="">
      </div>
    </div>
    <div class="mx-28 h-36">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://flowbite.com/"
          class="hover:underline">Flowbite™</a>. All Rights Reserved.
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
          <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
        </li>
        <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
        </li>
        <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
        </li>
        <li>
          <a href="#" class="hover:underline">Contact</a>
        </li>
      </ul>
    </div>
  </footer>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #FFCB77, #17C3B2);
  }

  h1 {
    margin: 2rem 0;
    font-size: 46px;
    /* text-align: center; */
  }

  /* main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  } */

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {

    0%,
    100% {
      background-position-y: 0%;
    }

    50% {
      background-position-y: 80%;
    }
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: #17C3B2;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
